.places__paragraph {
  max-width: 464px;
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 29px;
}

@media screen and (max-width: 1024px) {
  .places__paragraph {
    margin: 17px 0 0 0;
 }
}

@media screen and (max-width: 920px) {
  .places__paragraph {
  font-size: 1em;
  line-height: 1.625rem;
 }
}

@media screen and (max-width: 630px) {
  .places__paragraph {
   margin: 0 16px 0 0;
 }
}

@media screen and (max-width: 380px) {
  .places__paragraph {
    max-width: 270px;
    margin: 12px 16px 0 16px;
 }
}
