.cover__link {
  width:560px;
  grid-column: 1/1;
  grid-row: 1/1;
  text-decoration-line: none;
  color: #FFFFFF;
  margin: 20% auto 0;
  z-index: 1;
  transition: opacity .4s ease-out;
}

.cover__link:hover {
  opacity: 0.8;
}


@media screen and (max-width: 1024px) {
    .cover__link {
        width: 560px;
        margin: 10% auto 0;
   }
  }

@media screen and (max-width: 720px) {
    .cover__link {
        width: 560px;
        margin: 10% auto 0;
   }
  }

  @media screen and (max-width: 630px) {
    .cover__link {
        width: 230px;
        margin: 10% auto 0;
   }
  }

@media screen and (max-width: 400px) {
    .cover__link {
        width: 230px;
        margin: 33px auto 0;
   }
  }