.places_place {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(min-content, max-content);
  gap: 40px;
}

@media screen and (max-width: 920px) {
  .places_place {
    margin-top: 73px;
    gap: 28px;
 }
}

@media screen and (max-width: 600px) {
  .places_place {
    margin-top: 64px;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(min-content, max-content);
    gap: 32px;
 }
}