.places {
  margin: 92px auto;
  max-width: 928px;
}

@media screen and (max-width: 820px) {
  .places {
    margin: 48px 24px 0 24px;
 }
}

@media screen and (max-width: 600px) {
  .places {
    margin: 48px 16px 0 16px;
 }
}