.places {
  margin: 92px auto;
  max-width: 984px;
}

@media screen and (max-width: 1024px) {
  .places {
    margin: 92px 48px 0 48px;
 }
}
@media screen and (max-width: 820px) {
  .places {
    margin: 92px 24px 0 24px;
 }
}

@media screen and (max-width: 380px) {
  .places {
    margin: 66px 0 0 0;
 }
}
