.places__image {
  max-width: 460px;
}

@media screen and (max-width: 1024px) {
  .places__image {
    margin: 17px 0 0 0;
    max-width: 440px;

 }
}

@media screen and (max-width: 820px) {
  .places__image {
    max-width: 340px;

 }
}

@media screen and (max-width: 380px) {
  .places__image {
    width: 100%;
    margin: 0;
 }
}

@media screen and (max-width: 330px) {
  .places__image {
    width: 303px;
    margin: 0;
 }
}