.places__website-link {
  font-family: 'Inter', ‘Arial’, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125em;
  line-height: 1.375rem;
  text-decoration-line: underline;
  color: #FFFFFF;
  transition: opacity .4s ease-out;
}

.places__website-link:hover {
  opacity: 0.8;
  }

  @media screen and (max-width: 630px) {
    .places__paragraph {
     margin: 0 16px 16px 0;
   }
  }
  