.cover__subtitle {
  width: 360px;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125em;
  line-height: 1.375rem;
  text-align: center;
  grid-column: 1/1;
  grid-row: 1/1;
  margin: 40% auto 0;
}

@media screen and (max-width: 920px) {
    .cover__subtitle  {
        margin: 36% auto 0;
    }
}

@media screen and (max-width: 670px) {
    .cover__subtitle {
        width: 288px;
        font-size: 0.875em;
        line-height: 1rem;
    }
}

@media screen and (max-width: 400px) {
    .cover__subtitle {
        width: 288px;
        margin: 119px auto 0;
        font-size: 0.875em;
        line-height: 1rem;
    }
}