.cover__subtitle {
  width: 360px;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125em;
  line-height: 1.375rem;
  text-align: center;
  color: #FFFFFF;
  display: block;
  position: relative;
  margin: 23.5% auto;
}

@media screen and (max-width: 1024px) {
    .cover__subtitle {
        margin: 22.3% auto;
    }
}

@media screen and (max-width: 670px) {
    .cover__subtitle {
        width: 230px;
        font-size: 0.875em;
        line-height: 1rem;
    }
}

@media screen and (max-width: 400px) {
    .cover__subtitle {
        margin: 13% auto;
        width: 230px;
        font-size: 0.875em;
        line-height: 1rem;
    }
}