.footer__link {
  margin-right: 18px;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  line-height: 1.125rem;
  text-decoration: none;
  color: #fff;
}

@media screen and (max-width: 600px) {
    .footer__link {
        margin-right: 0px;
        margin-bottom: 32px;
        font-size: 1.5em;
        line-height: 1.5rem;
   }
  }