.header__lang-link-en {
  margin-left: 18px;
  font-size: 1.5em;
  line-height: 1.75rem;
  color: #FFFFFF;
  text-decoration-line: none;
  transition: opacity .4s ease-out;
  }

  .header__lang-link-en:hover {
    opacity: 0.8;
    }

  @media screen and (max-width: 600px) {
    .header__lang-link-en {
      font-size: 1.125em;
      line-height: 1.25rem;
   }
  }