.intro__text {
  margin: 40px 0 0;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  line-height: 1.625rem;
}

@media screen and (max-width: 600px) {
  .intro__text {
    margin: 40px 16px 16px 0;
 }
}

@media screen and (max-width: 320px) {
  .intro__text {
    width: 288px;
 }
}