.intro__text {
  margin: 40px 0 0;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  line-height: 163%;
}

@media screen and (max-width: 600px) {
  .intro__text {
    margin: 40px 16px 16px 0;
 }
}