.cover__title {
  width: 560px;
  font-style: normal;
  font-weight: 900;
  font-size: 4.5em;
  line-height: 4.75rem;
  text-align: center;
  color: #FFFFFF;
  display: block;
  position: relative;
  top: 33%;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .cover__title {
       top: 30.5%;
 }
}

@media screen and (max-width: 630px) {
    .cover__title {
        width: 230px;
        font-size: 2em;
        line-height: 2.125rem;
   }
  }

@media screen and (max-width: 400px) {
    .cover__title {
        top: 15%;
        width: 230px;
        font-size: 2em;
        line-height: 2.125rem;
   }
  }