.cover__title {
  width: 560px;
  font-style: normal;
  font-weight: 900;
  font-size: 4.5em;
  line-height: 4.75rem;
  text-align: center;
  grid-column: 1/1;
  grid-row: 1/1;
  margin: 0;
}

@media screen and (max-width: 630px) {
    .cover__title {
        width: 230px;
        font-size: 2em;
        line-height: 2.125rem;
   }
  }
@media screen and (max-width: 400px) {
    .cover__title {
        width: 230px;
        font-size: 2em;
        line-height: 2.125rem;
   }
  }